[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -i %h/Pictures/wallpaper.png -c 000000 -m fill
Restart=on-failure
