/* Stolen from https://git.gay/sunworms/nixos-files with some edits */
* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
  font-family: "M+1Code Nerd Font Propo";
  font-size: 12px;
}

window#waybar {
  color: #ebdbb2;
  background: #282828;
}

#mpris,
#window,
#cpu,
#backlight,
#memory,
#wireplumber,
#wireplumber.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  color: #ebdbb2;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#workspaces {
  margin: 0;
}

#workspaces button {
  color: #ebdbb2;
  padding: 0px;
}

#window {
  color: #d3869b;
}

#tray {
  padding: 5px;
}

#cpu {
  color: #e78a4e;
}

#backlight {
  color: #f6c657;
}

#memory {
  color: #458588;
}

#wireplumber {
  color: #83a598;
}

#wireplumber.muted {
  color: #ea6962;
}

#mpris,
#battery {
  color: #689d68;
}

#battery.critical {
  color: #cc241d;
}

#battery.warning {
  color: #e78a4e;
}

#clock {
  color: #8ec07c;
}

#network {
  color: #d3869b;
}

tooltip {
  background: #282828;
  border: none;
}
tooltip label {
  color: #ebdbb2;
}

